@model ContactInfo

<h1>Create</h1>
<h4>Contact</h4>

<form asp-action="AddContact" method="post">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EmailId"></label>
        <input asp-for="EmailId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MobileNo"></label>
        <input asp-for="MobileNo" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Designation"></label>
        <input asp-for="Designation" class="form-control" />
    </div>

    <div class="form-group">
        <label>Company</label>
        <select asp-for="CompanyId" class="form-control">
            @foreach (var c in ViewBag.Companies)
            {
                <option value="@c.CompanyId">@c.CompanyName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Department</label>
        <select asp-for="DepartmentId" class="form-control">
            @foreach (var d in ViewBag.Departments)
            {
                <option value="@d.DepartmentId">@d.DepartmentName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">ADD</button>
</form>

<div>
    <a asp-action="ShowContacts">Back to Contacts</a>
</div>